:root {
  --white: #ffffff;
  --black: #000000;
  --placeholder-color: #bbbbbb;
  --dark-gray: #777777;
  --light-gray: #eeeeee;
}

.color-palette-1 {
  --primary-color: #5bd1d7;
  --secondary-color: #348498;
  --third-color: #004d61;
  --fourth-color: #ff502f;
}

.color-palette-2 {
  --primary-color: #2d132c;
  --secondary-color: #801336;
  --third-color: #c72c41;
  --fourth-color: #ee4540;
}
