@import './_helpers.scss';
@import './media';

.container {
  width: 100%;
  margin: 0 auto;

  @include desktop {
    width: $desktop-width;
  }
}

.primary-button {
  @include flex($ai: center, $jc: center);
  @include font(16px, var(--white), 300);

  cursor: pointer;
  position: relative;
  min-width: 100px;
  height: 30px;
  padding: 0 20px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  transition: .2s ease-in-out;

  &:hover {
    background-color: var(--fourth-color);
  }

  &:active {
    top: 1px;
  }
}

.secondary-button {
  @include flex($ai: center, $jc: center);
  @include font(16px, var(--white), 300);

  cursor: pointer;
  position: relative;
  min-width: 80px;
  height: 30px;
  padding: 0 15px;
  background-color: var(--third-color);
  border: none;
  border-radius: 3px;
  transition: .2s ease-in-out;

  &:hover {
    background-color: var(--fourth-color);
  }

  &:active {
    top: 1px;
  }
}

.animate {
  transition: .2s ease-in-out;
}
