/* General mixin for font properties
*  Usage examples:
*  p {
*    @include font((weight: 300, lh: 1.5)...);
*  }
*
*  span {
*    @include font(14px, #e9e9e9);
*  }
*/
@mixin font($size: false, $color: false, $weight: false, $lh: false, $ff: false, $ls: false) {
    @if $size {
        font-size: $size;
    }

    @if $color {
        color: $color;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ff {
        font-family: $ff;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}

/* General mixin for flex-block
*  Usage examples:
*  div {
*    @include flex();
*  }
*
*  .class-name {
*    @include flex(column);
*  }
*/
@mixin flex($direction: false, $ai: false, $jc: false, $wrap: false, $as: false, $js: false, $fb: false, $fsh: false, $fg: false, $ff: false, $ac: false, $flex: false) {
    display: flex;

    @if $direction {
        flex-direction: $direction;
    }

    @if $ai {
        align-items: $ai;
    }

    @if $jc {
        justify-content: $jc;
    }

    @if $wrap {
      flex-wrap: $wrap;
    }

    @if $as {
        align-self: $as;
    }

    @if $js {
        justify-self: $js;
    }

    @if $fb {
        flex-basis: $fb;
    }

    @if $fsh {
        flex-shrink: $fsh;
    }

    @if $fg {
        flex-grow: $fg;
    }

    @if $ff {
        flex-flow: $ff;
    }

    @if $ac {
        align-content: $ac;
    }

    @if $flex {
        flex: $flex;
    }
}
