// Fonts
$mainFont: 'Rubik', sans-serif;

// Device sizes
$mobile-width-sm: 320px;
$mobile-width-lg: 480px;
$tablet-width-sm: 768px;
$tablet-width-lg: 1024px;
$desktop-width: 1280px;

// Background colors
