@import '../../../assets/scss/helpers';

:host {
  display: block;
  background-color: var(--primary-color);
  transition: .2s all ease-in-out;
}

.header {
  @include flex($ai: center, $jc: flex-end);

  width: 100%;
  height: 60px;
}

.user {
  @include flex($ai: center, $fg: 1);

  &__photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: gray;
    border-radius: 50%;
  }

  &__full-name {
    @include font(18px, var(--white), 300);

    margin-bottom: 5px;
  }

  &__role {
    @include font(14px, var(--white), 300);

    margin-bottom: 5px;
  }
}

.actions {
  @include flex($fsh: 0);

  button {
    margin-left: 20px;
  }
}
