<div class="login-container animate">
  <div class="header animate">
    <span>Вход в систему</span>
  </div>

  <form class="form animate" [formGroup]="loginForm">
    <ar-input
      *ngFor="let field of loginFormConfig"
      [id]="field.id"
      [label]="field.label"
      [type]="field.type"
      [name]="field.inputName"
      [error]="field.error"
      [required]="field.required"
      [readonly]="field.readonly"
      [placeholder]="field.placeholder"
      [formControlName]="field.controlName"
      (focusEvent)="onFocus($event)"
      >
    </ar-input>
  </form>

  <div class="actions animate">
    <button class="login-button secondary-button" (click)="login()">Войти</button>
  </div>
</div>
